body{
	background-color: #F4F2F7;
	overflow-x: hidden;
}

.main {
	width:100%;
	display: block;
    width: 1500px;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 5%;
}

.titre {
	font-family: Avantgarde, sans-serif;
    font-size: 150px;
    color: #585859;
    text-decoration-line: underline;
    text-decoration: none;
    padding: 0 0 10px 0;
    border-bottom: 2px solid;
    /* position: absolute; */
    /*border: 1px dashed red;*/
    width: 100%;
    /* display: block; */
    text-shadow: -5px 0px #fdfdfd;
    margin-left: 600px;
}

.testimage {
	width: 1500px;
}

.denis {
	height: 450px;
    /* margin-top: 5%; */
    /* margin-left: 5%; */
    /*border: 1px dashed blue;*/
    float: left;
    left: 100px;
    position: absolute;
}

.erreur {
    width: 100%; */
    font-family: Arial Narrow, sans-serif;
    font-size: 130px;
    color: #47444F;
    /*border: 1px dashed green;*/
    text-align: center;
    display: inline-block;
    /* padding-top: 40px; */
    left: 20%;
    top: 400px;
    text-shadow: -5px 0px #fdfdfd;
    margin-left: 180px;
}

.texte {
	width: 100%; */
    font-family: Avantgarde, sans-serif;
    font-size: 30px;
    color: #918D9A;
    /*border: 1px dashed yellow;*/
    /* float: right; */
    /* white-space: nowrap; */
    display: inline-block;
    left: 60%;
    /* margin-top: -28%; */
    margin-left: 400px;
}

.bouton {
	width: 15%;
    font-family: Avantgarde, sans-serif;
    font-size: 25px;
    color: #585859;
    /* position: relative; */
    left: 80%;
    top: 340px;
    border-radius: 5px;
    text-shadow: 1px 2px #fdfdfd;
    margin-left: 950px;
    text-decoration-style:none;
}

a {
	font-family: Avantgarde, sans-serif;
    font-size: 25px;
	color: #585859;
	text-shadow: 1px 2px #fdfdfd;
	text-decoration: none;
}