body{
  background: url(images/texture.jpg);
}

h1 {
    line-height: 40pt;
    font-family: Arial Narrow, sans-serif;
    padding-top: 4%;
    margin-left: 12%;
    margin-right: 14%;
    color: black;
    border-bottom: solid black 1px;
}

.h2 {
	  margin-top: 14%;
    margin-right: 14%;
    margin-bottom: -100px;
    text-align: right;
    font-family: Andale Mono, monospace;
    font-size: 12px;
    color: #F00040;
}
.main {
  border: black;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;;
}

.nom {
	width: 30%;
	border: 13px solid black;
	position: relative;
	float: left;
	margin-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
  margin-bottom: 2%;
	background-color: white;
	z-index: 1;
}

.profil{
	width: 270px;
  height: 270px;
  border-radius: 100%;
  background: url(images/pic.png) no-repeat; background-size: 108%;
  background-position: center;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.prenom {
	width: 100%;
  text-align: center;
  margin-top: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 59px;
  font-style: normal;
  font-weight: bold;
  color: black;
}

.web {
	width: 100%;
	text-align: center;
	margin-top: 10%;
	font-family: Andale Mono, monospace;
	font-size: 18px;
	color: #F00040;
}


.conteneur {
  width: 40%;
  border: 1px solid black;
  float: right;
  margin-right: 20%;
	background-color: white;
	z-index: 1;
}

#text {
	padding-top: 1%;
	margin-left: 4%;
	
	color: #717070;
}

.icones {
    width: 100%;
    margin-top: 40%;
    margin-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.linkedin {
  margin-right: 10%;
  color: black;
}

.twitter {
  margin-right: 10%;
  color: darkgrey;
}

.pinterest {
  margin-right: 10%;
  color: darkgrey;
}

.gmail {
  margin-right: 10%;
  color: darkgrey;
}
