.markdown {
	font-family: Andale Mono, monospace;
	font-size: 50px;
	text-align: center;	
    text-decoration: overline;   
}

body {
	font-family: Arial Narrow, sans-serif;
	font-size: 20px;
	color: #1D1E1E;
	text-align: left;	
	padding: 2cm 4cm 3cm 4cm;
}

.titreh3 {
 	color: #1D1E1E;
 	text-decoration: none;
 	text-align: left;
 	font-size: 105%;
}

h3 {
	font-family: Andale Mono, monospace;
	font-size: 35px;
	color: #4F5352;	
	text-decoration: underline; 
	text-align: center;   
 }

 p {
 	color: #696E6D;
 }

 table {
	 border-width:0.5px; 
	 border-style:solid; 
	 border-color:black;
	 width:33.3%;
 }

td { 
	text-align: center;
	 border-width:0.5px;
	 border-style:solid; 
	 border-color:black;
	 width:33.3%;
 }